body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: "Overpass",sans-serif;
  overflow:hidden;
  max-height:80vh;
  background-color:#444444;
  background-image: url("https://cdn.glitch.me/d354bb74-db20-4c6c-90db-b2646d509a55/PXL_20210526_014527428.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  text-align:center;
}
.topdiv{
  background-color:rgba(69,69,69,.5);
  line-height:3em;
  user-select:none;
  text-align:left;
}
.topdiv > button, .textInput > button{
  background:none;
  border:0;
  vertical-align:middle;
  cursor: pointer;
}
a{
  color:black;
}
.channellist{
  border-radius:2vw;
  width:25%;
  height:82vh;
  margin-top:2vh;
  margin-bottom:2vh;
  border:1px solid black;
  background-color:rgba(69,69,69,.5);
  /*Animation*/
  position:fixed;
  left:-23%;
  transition: left 1.5s; /* Animate the left property */
  display:inline-end;
}
.channel{
  margin:0;
  font-weight:900;
  font-size:2em;
  background:none;
  border:none;
  font-family:'Overpass',sans-serif;
  height:1em;
  margin:0;
  cursor:pointer;
}
.userList{
  border-radius:2vw;
  width:25%;
  height:82vh;
  max-height:82vh;
  margin-top:2vh;
  margin-bottom:2vh;
  border:1px solid black;
  background-color:rgba(69,69,69,.5);
  /*Animation*/
  position:fixed;
  right:-23%;
  transition: right 1.5s; /* Animate the left property */
  overflow:auto;
  display:flex;
}
.textInput{
  width:100%;
  height:8%;
  line-height:8%;
  font-size:2em; 
  font-family:'Overpass',sans-serif;
  background-color:rgba(69,69,69,.75);
  border:1px solid black;
  position:absolute;
  bottom:0;
  border-radius:1vw;
}
input{
  font-size:.75em;
}
.textBoxes{
  width:90%;
  position:absolute;
  left:5%;
}
.textBoxes > .otherUser{
  text-align:left;
  float:left;
  max-width:65%;
  background-color:rgba(46,204,113,.5);
  width: fit-content;
  padding:1%;
  border-radius:2vw;
  border-bottom-left-radius:0px;
  font-size:1.25em;
}
.textBoxes > .thisUser{
  text-align:left;
  float:right;
  max-width:65%;
  background-color:rgba(52, 152, 219,.5);
  width: fit-content;
  padding:1%;
  border-radius:2vw;
  border-bottom-right-radius:0px;
  font-size:1.25em;
}
.online,.offline{
  text-align:left;
}
.user{
  margin:2px;
  border-radius:1vw;
  white-space:nowrap;
}
.user > span{
  padding-left:5%;
  font-size:1.5em;
  vertical-align:top;
  top:.1em;
  position:relative;
}
#UserPrefs{
  position:absolute;
  border:5px solid black;
  border-radius:2vw;
  height:70%;
  width:70%;
  margin-left:15%;
  top:11.5%;
  background:rgba(69,69,69,.85);
  user-select: none;
  transition: top 1.5s; /* Animate the left property */
  overflow:auto;
}