body{
  background-color:#444444;
  background-image: url("https://cdn.glitch.me/d354bb74-db20-4c6c-90db-b2646d509a55/PXL_20210526_014527428.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  font-family: "Overpass",sans-serif;
  text-align:center;
}
input{
  width:60%;
  line-height:20%;
  padding:2%;
  border-radius:2vw;
  font-size:130%;
  font-family: "Overpass",sans-serif;
  font-weight:900;
  border:0;
}
button{
  width:20%;
  line-height:20%;
  padding:2%;
  border-radius:2vw;
  border:0;
  font-size:130%;
  font-family: "Overpass",sans-serif;
  font-weight:900;
}
p{
  font-size:200%;
  font-family: "Overpass",sans-serif;
  font-weight:900;
  visibility:hidden;
}